In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
# loads csv file as a dataframe into df
df = pd.read_csv("data.csv")

In [3]:
# creates new column names
newnames = ['name',
'squadNumber',
'language',
'internshipPreference',
'age',
'city',
'country1',
'country',
'region',
'timezone',
'occupation',
'education',
'major',
'onlinecourses',
'courses',
'priorexperience',
'communicationpreference',
'productmanagement',
'projectmanagement',
'digitalmarketing',
'seo',
'paidmarketing',
'influencermarketing',
'contentmarketing',
'emailmarketing',
'marketresearch',
'graphicdesign',
'digitalillustration',
'animation',
'videoediting',
'digitalcontentCreation',
'ux',
'ui',
'productdesign',
'visualdesign',
'motiondesign',
'userresearch',
'businessanalytics',
'interactiondesign',
'uxwriting',
'contentstrategy',
'copywriting',
'webdesign',
'uidev',
'webdev',
'swe',
'cloud',
'ai',
'ml',
'devops',
'dataanalytics',
'datascience',
'growthmarketing',
'sales',
'customersuccess',
'accountmanagement',
'contentwriting',
'timemanagement',
'help-seeker',
'problemsolving',
'communication',
'reliability',
'understanding',
'presentationskills',
'leadership',
'management',
'writing',
'Wheredidyouhearaboutthisinternship',
'motivation',
'goal',
'grouppreference',
'demographics',
'productdesignrole',
'secondaryproductdesignrole',
'productdevrole',
'secondaryproductdevrole',
'productgrowthrole',
'secondaryproductgrowthrole',
'productmarketingrole',
'secondaryproductmarketingrole',
'productmarketingcohort',
'productdesigncohort',
'productdevcohort',
'productgrowthcohort',
'preferredhours']

In [4]:
# sets new column names
df.set_axis(newnames, axis=1, inplace=True)
df

,name,squadNumber,language,internshipPreference,age,city,country1,country,region,timezone,...,secondaryproductdevrole,productgrowthrole,secondaryproductgrowthrole,productmarketingrole,secondaryproductmarketingrole,productmarketingcohort,productdesigncohort,productdevcohort,productgrowthcohort,preferredhours
0,Grayson,NaN,i prefer english but i am also able to communi...,"Product Marketing,Product Growth",23.0,bordj bou arreridj,NaN,Algeria,MENA,"Europe,Africa",...,NaN,Growth Marketer,"Sales Development Representative ,Account Manager",Digital Marketer,"Paid Marketing Manager,Influencer Marketing Ma...","Starting on 15th August,Starting on 22nd August",NaN,NaN,Starting on 5th September,20-25 hours
1,Jonas,NaN,English,"Product Marketing,Product Growth ,Product Design",23.0,Algiers,NaN,Algeria,MENA,"Africa,Europe",...,NaN,Sales Development Representative,"Growth Marketer,Sales Development Representati...",Digital Marketer,"Product Manager,SEO/SEM Manager,Paid Marketing...","Starting on 12th September,Starting on 15th Au...","Starting on 3rd October,Starting on 22nd August",NaN,Starting on 3rd October,10-15 hours
2,Ronan,NaN,English and Spanish are good for me.,Product Design,34.0,"Buenos Aires, Argentina",NaN,Argentina,Americas,Americas,...,NaN,NaN,NaN,NaN,NaN,NaN,Starting on 22nd August,NaN,NaN,15-20 hours
3,Dulce,NaN,spanish,Product Design,38.0,Mendoza,NaN,Argentina,Americas,Americas,...,NaN,NaN,NaN,NaN,NaN,NaN,Starting on 22nd August,NaN,NaN,20-25 hours
4,Evelyn,NaN,Spanish,Product Marketing,22.0,Tigre,NaN,Argentina,Americas,Any/No preference,...,NaN,NaN,NaN,Content Marketing Manager,"Influencer Marketing Manager,Market Research M...","Starting on 22nd August,Starting on 15th August",NaN,NaN,NaN,20-25 hours
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183,Johnathan,NaN,English,"Product Development,Product Growth",22.0,"Las Cruces, New Mexico",USA,USA,Americas,"Americas,Any/No preference",...,"Data Scientist,ML Engineer,AI Engineer ,Cloud ...",Data Analyst,Business Analyst,NaN,NaN,NaN,NaN,Starting on 5th September,Starting on 5th September,20-25 hours
1184,Adriel,NaN,English is the language I am most comfortable ...,Product Development,19.0,seattle,USA,USA,Americas,Americas,...,"Web Developer,Cloud Developer,AI Engineer ,ML ...",NaN,NaN,NaN,NaN,NaN,NaN,Starting on 5th September,NaN,15-20 hours
1185,Reyna,NaN,English,Product Design,30.0,Caracas,NaN,Venezuela,Americas,Americas,...,NaN,NaN,NaN,NaN,NaN,NaN,"Starting on 5th September,Starting on 22nd August",NaN,NaN,10-15 hours
1186,Uriel,NaN,English,"Product Marketing,Product Design,Product Growth",21.0,Hanoi,NaN,Vietnam,APAC,Asia,...,NaN,Business Analyst,"Data Analyst,Growth Marketer,Market Researcher...",Market Research Manager,Product Manager,Starting on 15th August,Starting on 22nd August,NaN,Starting on 5th September,15-20 hours
1187,Esteban,NaN,Vietnamese,Product Development,23.0,Ho Chi Minh,Other,Vietnam,APAC,Asia,...,"Project Manager,Product Manager",NaN,NaN,NaN,NaN,NaN,NaN,Starting on 5th September,NaN,10-15 hours

In [5]:
# creates simplified_df, which will be used for grouping users
simplified_df = df[["name","timezone","region","language","priorexperience"]]
simplified_df

,name,timezone,region,language,priorexperience
0,Grayson,"Europe,Africa",MENA,i prefer english but i am also able to communi...,Yes
1,Jonas,"Africa,Europe",MENA,English,Yes
2,Ronan,Americas,Americas,English and Spanish are good for me.,No
3,Dulce,Americas,Americas,spanish,No
4,Evelyn,Any/No preference,Americas,Spanish,No
...,...,...,...,...,...
1183,Johnathan,"Americas,Any/No preference",Americas,English,Yes
1184,Adriel,Americas,Americas,English is the language I am most comfortable ...,Yes
1185,Reyna,Americas,Americas,English,Yes
1186,Uriel,Asia,APAC,English,No
1187,Esteban,Asia,APAC,Vietnamese,Yes

In [6]:
# clean simplified_df by removing any nan values and splitting rows 
simplified_df = simplified_df.assign(timezone=df.timezone.str.split(",")).explode('timezone')
simplified_df = simplified_df.assign(region=df.region.str.split(",")).explode('region')
simplified_df.timezone.fillna("Unknown")
simplified_df.region.fillna("Unknown")
simplified_df.language.fillna("Unknown")
simplified_df.priorexperience.fillna("No")
simplified_df = simplified_df.replace("Any/No preference","Unknown")

In [7]:
simplified_df

,name,timezone,region,language,priorexperience
0,Grayson,Europe,MENA,i prefer english but i am also able to communi...,Yes
0,Grayson,Africa,MENA,i prefer english but i am also able to communi...,Yes
1,Jonas,Africa,MENA,English,Yes
1,Jonas,Europe,MENA,English,Yes
2,Ronan,Americas,Americas,English and Spanish are good for me.,No
...,...,...,...,...,...
1183,Johnathan,Unknown,Americas,English,Yes
1184,Adriel,Americas,Americas,English is the language I am most comfortable ...,Yes
1185,Reyna,Americas,Americas,English,Yes
1186,Uriel,Asia,APAC,English,No
1187,Esteban,Asia,APAC,Vietnamese,Yes